@media (max-width: 1250px) {
  .skills{
    height: 100%;
  }
}
@media (max-width: 1200px) {

  .maincontent img{
    margin: 0px;
    padding: 0px;
    /* width: 65%; */

  }

  .content-top ul{
    width: auto;
  }
  ul li {
    margin-right: 0px;
    margin-right: 20px;

  }
  .title{
    margin-left: 20px;
  }
  .content-top nav{
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
  }
  .skills{
    height: 100%;

  }

}
@media (max-width: 1000px) {

  .icon{
    /* width: 60%; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .maincontent{

    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    margin: 0 auto;
    /* background-color: gray; */
    /* padding: 20px; */
    justify-content: space-around;
  }
  .project-section{
    margin-top: 80px;
  }

  .maincontent img{
    width: 70%;
    margin: 0 auto;
  }
  .content-top{
    height: 100%;
  }
  .quickinfo{
    text-align: center;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    height: auto;

  }
  .project-section{
    flex-direction: column;
    height: auto;
    justify-content: space-evenly;
  }
  .content-middle{
    height: 100%;
  }
  .quickinfo{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .quickinfo h2{
    margin-top: 15px;
  }
  #jobTitle{
    font-size: 20px;
  }
  .projectinfo h1{
    font-size: 40px;
  }

  .icons-container img{
    width: 50px;
  }
  .avatar1{
    /* height: 50%; */
    /* padding: 50px; */
    margin: 0px;
    width: 80%;
  }
}

@media (max-width: 600px) {
  .foot{
    display: none;
  }
  .contact-me{
    margin:  0 auto;
  }
  .icons-container img{
    width: 40px;
  }
  .slider{
    width: 270px;
  }
  .avatar1{
    height: 300px;

  }
}
