body {
  overflow-x: hidden;
  background-color: rgb(37, 37, 37);
}
a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit color from parent */
}

.content-top::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('img/imgbg/portcovert-5.png');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1; /* Ensure the overlay is behind content */
  filter: brightness(23%)

}

.content-top {
  position: relative;
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  font-family: "Gill Sans", sans-serif;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8);
}

.content-middle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('img/imgbg/portcovertcopy-2.png');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1; /* Ensure the overlay is behind content */
  filter: brightness(23%)

}
.content-middle {
  width: 100%;
  height: 1700px;
  position: relative;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.4), /* Shadow above */
  0px 10px 10px rgba(0, 0, 0, 0.4);   /* Shadow below */


}

.skills {
  width: 100%;
  height: 100%;
  /* padding-top: 30px; */
  padding-bottom: 50px;
  /* background: url('img/imgbg/portcovertcopy-2.png'); */
  background: rgb(18,18,18);
  background: radial-gradient(circle, rgba(18,18,18,1) 0%, rgba(32,32,32,1) 70%, rgba(8,8,8,1) 100%);
  display: flex;
  justify-content: center; /* Align icons horizontally */
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;

}
.skillstitle{
  font-size: 50px;
  color: white;
  font-family: Impact, fantasy;
  text-align: center;
  /* margin-top:-30px; */
}


.content-top nav {
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 90%;
  padding: 5px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-top: 20px;
}

.content-top ul {
  display: flex;
  flex-direction: row;
  width: 500px;
  justify-content: space-evenly;
  padding-left: -30px;

}

ul li {
  font-size: 18px;
  margin-right: -200px;
  transition: transform 0.3s ease, text-shadow 0.3s ease; /* Adding text-shadow transition */
}

ul li:hover {
  transform: scale(1.1);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7); /* Adjust shadow color and intensity */
}

.title {
  font-family: Impact, fantasy;
  position: relative;
  text-align: center;
  transition: transform 0.3s ease, text-shadow 0.3s ease; /* Adding text-shadow transition */
}
.title:hover {
  transform: scale(1.1);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7); /* Adjust shadow color and intensity */
}

.title::after {
  content: "";
  position: absolute;
  top: 47%;
  left: 0;
  right: 0;


}
.img {
  width: 500px;
  height: 500;
  /* padding-left: 60px; */
  filter: drop-shadow(5px 7px 10px rgb(134, 134, 134));
  animation: levitate 2s infinite alternate; /* Adjust the duration and other animation properties as needed */
  /* background-color: gray; */
  /* border-radius: 50%; */


}
.avatar1{
  width: 50%;
  height: 600px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  /* background-color: gray; */
  justify-content: flex-end;
  /* background-color: gray; */
  margin-top: -90px;
}

@keyframes levitate {
  from {
    transform: translateY(-20px); /* Initial position */
  }
  to {
    transform: translateY(-30px); /* Final position */
  }
}

.maincontent{
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  /* background-color: gray; */
}
.quickinfo {
  /* background-color: gray; */
  height: 600px;
  width: 50%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  /* margin-top: -130px; */
  padding: 50px;
  /* background-color: gray; */
}
.quickinfo h1{
  font-size: 60px;
  font-family: Impact, fantasy;
  color: yellow;

}
#jobTitle{
  font-size: 30px;
  height: 50px;

}
.quickinfo p {
  font-family: "Gill Sans", sans-serif;
  font-weight: 100; /* Adjust the font weight to make it slimmer */
  line-height: 1.6; /* Increase the line height for better readability */
  letter-spacing: 0.05em; /* Adjust the letter spacing to add more space between words */
}
.icon{
  width: 300px;
  height: 100px;

}
.social-icons {
  margin-top: 20px; /* Adjust as needed */
}

.social-icons a {
  display: inline-block;
  margin-right: 10px; /* Adjust spacing between icons */
  color: #ffffff; /* Adjust icon color */
}

.social-icons a:last-child {
  margin-right: 0; /* Remove margin for the last icon */
}



/* skills  */


.icons-container a{
  margin: 50px;
}

.icons-container {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.icons-container a {
  margin: 50px;
  animation: levitate 2s ease infinite alternate;
}

/* Define levitating animation */
@keyframes levitate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* Adjust the height of levitation */
  }
  100% {
    transform: translateY(0);
  }
}

/* Add different animation delays to each icon */
.icons-container a:nth-child(1) {
  animation-delay: 0.5s;
}

.icons-container a:nth-child(2) {
  animation-delay: 0.3s
}
.icons-container a:nth-child(3) {
  animation-delay: 0.5s;
}

.icons-container a:nth-child(4) {
  animation-delay: 0,2s
}
.icons-container a:nth-child(5) {
  animation-delay: 0.7s;
}

.icons-container a:nth-child(6) {
  animation-delay: 0,4s
}
.icons-container a:nth-child(7) {
  animation-delay: 0.7s;
}

.icons-container a:nth-child(8) {
  animation-delay: 0,1s
}
.icons-container a:hover {
  animation-play-state: paused; /* Stop animation on hover */
  filter: drop-shadow(0px 0px 20px  rgba(255, 255, 255, 0.288));
}

/* projects */
.slider{
  color: white;
  width: 50%;
}
.project-section{
  width: 90%;
  /* padding-left: 50px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-evenly;
  margin: 0 auto;
  height: 500px;
}
.slidertext{
  width: 40%;
  color: white;
  background-color: gray;
  height: 350px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.slidertext h1{
  font-size: 35px;
}
.slider img{
  width: 100%;
}
.titleporject{
  width: 100%;
  height: 80px;
}
.titleporject h1{
  font-size: 50px;
  color: white;
  font-family: Impact, fantasy;
  text-align: center;
  padding-top: 40px;

}

.projectinfo{
  height: 400px;
}
.left{
  align-items: flex-end;
  height: 400;
}
.left p{
  text-align: end;
}
.left a{
  margin-left: 255px;

}

.fa-link{
  font-size: 15px;
}


/* footer */

.skewed-footer {
  width: 100%;
  height: 300px;
  background: rgb(18,18,18);
  background: radial-gradient(circle, rgba(18,18,18,1) 0%, rgba(32,32,32,1) 70%, rgba(8,8,8,1) 100%);
  color: white;


}

.footercontent{
  margin: 0 auto;
  width: 80%;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.contact-me{
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 200px;
  justify-content: space-evenly;
  width: 250px;
  align-items: center;

}
.contact-me h2{
  font-size: 20px;
  font-family: Impact, fantasy;


}
.foot {
  font-size: 30px;
  font-family: Impact, fantasy;
}


/*  hide number
.phone-number {
  display: none;
}

a:hover .phone-number {
  display: inline;
} */


/* avatar hover */
.avatar1 .img:nth-child(1) {
    display: none;
  }

  .avatar1:hover .img:nth-child(2) {
    display: none;
  }

  .avatar1:hover .img:nth-child(1) {
    display: inline-block;
  }
